@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SIGES INDEL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/SIGES_INDEL.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="fondo-svg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fondo-footer">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SIGES INDEL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="bi bi-list"></i>
                    </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Estudiantes" asp-action="Index">Estudiantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Docentes" asp-action="Index">Docentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Matriculas" asp-action="Index">Matriculas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Estudiantes" asp-action="Crear">Agregar y Matricular Estudiante</a>
                            </div>
                        </li>
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Datos</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Usuarios" asp-action="Registro">Registrar Una Cuenta</a>
                                    <a class="dropdown-item" asp-controller="Docentes" asp-action="Crear">Agregar Docente</a>
                                    <a class="dropdown-item" asp-controller="Grados" asp-action="Index">Grados</a>
                                    <a class="dropdown-item" asp-controller="DemeritosData" asp-action="Index">Demeritos</a>
                                    <a class="dropdown-item" asp-controller="MeritosData" asp-action="Index">Meritos</a>
                                    <a class="dropdown-item" asp-controller="EstadoCivilData" asp-action="Index">Estados Civiles</a>
                                    <a class="dropdown-item" asp-controller="EstadoData" asp-action="Index">Estados</a>
                                    <a class="dropdown-item" asp-controller="EtniaData" asp-action="Index">Etnias</a>
                                    <a class="dropdown-item" asp-controller="NacionalidadesData" asp-action="Index">Nacionalidades</a>
                                    <a class="dropdown-item" asp-controller="ParentescoData" asp-action="Index">Parentescos</a>
                                    <a class="dropdown-item" asp-controller="DiscapacidadesData" asp-action="Index">Discapacidades</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LinksLogin" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fondo-footer">
        <div class="container">
            &copy; 2025 - SIGES INDEL - <a asp-controller="Home" asp-action="AboutUs">Contactanos</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var mensaje = '@TempData["mensaje"]';
            var tipo = '@TempData["tipo"]';

            if (mensaje && tipo) {
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: tipo,
                    title: mensaje,
                    showConfirmButton: false,
                    timer: 4500,
                    timerProgressBar: true
                });
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
