@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SinInManager

<ul style="list-style:none;">

    @if (SinInManager.IsSignedIn(User))
    {
        <li>
            <div>
                <form asp-action="Logout" asp-controller="Usuarios">
                    <div class="text-center">
                        <span class="mx-4 fw-bold">@User.Identity.Name</span>
                        <button type="submit" class="btn btn-primary text-dark"><i class="bi bi-door-open"></i></button>
                    </div>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Usuarios" asp-action="Registro">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Usuarios" asp-action="Login">Login</a>
        </li>
    }

</ul>

