@model SIGES_INDEL.Models.Complementos.Nacionalidades
@{
    ViewData["Title"] = "Informacion Nacionalidad";
}
<form asp-action="Detalle">
    <div class="container py-4">
        <h3 class="text-center mb-4 fw-bold">Informacion de la Nacionalidad</h3>
        <div class="card shadow border-2 border-info rounded-3 mb-4">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label asp-for="Nacionalidad" class="control-label"></label>
                                <input asp-for="Nacionalidad" class="form-control" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end">
            <a class="btn btn-secondary mx-2" asp-controller="NacionalidadesData" asp-action="Index">Regresar</a>
        </div>
    </div>
</form>




