@model SIGES_INDEL.Models.Docente
@{
    List<SIGES_INDEL.Models.Complementos.Grados> xgrados = ViewBag.grados as List<SIGES_INDEL.Models.Complementos.Grados>;
}
@{
    ViewData["Title"] = "Borrar docente";
}
<form asp-action="Borrar" enctype="multipart/form-data" onsubmit="confirmarEliminacion(event)">
    <div class="container py-4">
        <h3 class="text-center mb-4 fw-bold">Borrar al Docente @Model.NombreCompleto</h3>
        <div class="card shadow mb-4 bg-light border-2 border-danger rounded-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        @if (Model.ImagenDocente != null)
                        {
                            <img id="previewImagen" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImagenDocente)"
                                 alt="Imagen de @Model.NombreCompleto"
                                 class="img-thumbnail m-2"
                                 style="max-width: 250px; height: 300px; object-fit: cover; border-radius: 10px;" />
                        }
                        else
                        {
                            <img id="previewImagen" src="~/images/default-avatar.png"
                                 alt="Previsualización"
                                 class="img-thumbnail m-2"
                                 style="max-width: 250px; height: 300px; object-fit: cover; border-radius: 10px;" />
                        }
                    </div>

                    <div class="col-9">
                        <div class="mb-4">
                            <label asp-for="NombreCompleto" class="control-label"></label>
                            <input asp-for="NombreCompleto" class="form-control" placeholder="Nombre completo" disabled readonly />
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label asp-for="NIP" class="control-label"></label>
                                <input asp-for="NIP" class="form-control" disabled readonly />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="GradosId" class="control-label"></label>
                                <select asp-for="GradosId" class="form-control" disabled>
                                    <option selected value="">Selecciona Grado que coordinara</option>
                                    @foreach (var item in xgrados)
                                    {
                                        <option value="@item.Id">@item.Abreviacion</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="d-flex justify-content-start gap-3">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                            <a class="btn btn-secondary mx-2" asp-controller="Docentes" asp-action="Index">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        function confirmarEliminacion(event) {
           event.preventDefault();
           Swal.fire({
               title: '¿Estás seguro?',
               text: "Esta acción no se puede deshacer, Verifica que el Docente no coordine ningun Grado ni haya puesto Aspectos Academicos!!!!.",
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#d33',
               cancelButtonColor: '#3085d6',
               confirmButtonText: 'Sí, eliminar',
               cancelButtonText: 'Cancelar'
           }).then((result) => {
               if (result.isConfirmed) {
                   event.target.closest('form').submit();
               }
           });
        }
    </script>
}

