@model SIGES_INDEL.Models.Docente
@{
    List<SIGES_INDEL.Models.Complementos.Grados> xgrados = ViewBag.grados as List<SIGES_INDEL.Models.Complementos.Grados>;
}
@{
    ViewData["Title"] = "Infomacion docente";
}
<form asp-action="Editar" enctype="multipart/form-data">
    <div class="container py-4">
        <h3 class="text-center mb-4 fw-bold">Datos de @Model.NombreCompleto</h3>
        <div class="card shadow mb-4 bg-light border-2 border-info rounded-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        @if (Model.ImagenDocente != null)
                        {
                            <img id="previewImagen" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImagenDocente)"
                                 alt="Imagen de @Model.NombreCompleto"
                                 class="img-thumbnail m-2"
                                 style="max-width: 250px; height: 300px; object-fit: cover; border-radius: 10px;" />
                        }
                        else
                        {
                            <img id="previewImagen" src="~/images/default-avatar.png"
                                 alt="Previsualización"
                                 class="img-thumbnail m-2"
                                 style="max-width: 250px; height: 300px; object-fit: cover; border-radius: 10px;" />
                        }
                    </div>

                    <div class="col-9">
                        <div class="mb-4">
                            <label asp-for="NombreCompleto" class="control-label"></label>
                            <input asp-for="NombreCompleto" class="form-control" placeholder="Nombre completo" disabled readonly/>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label asp-for="NIP" class="control-label"></label>
                                <input asp-for="NIP" class="form-control" disabled readonly/>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="GradosId" class="control-label"></label>
                                <select asp-for="GradosId" class="form-control" disabled>
                                    <option selected value="">Selecciona Grado que coordinara</option>
                                    @foreach (var item in xgrados)
                                    {
                                        <option value="@item.Id">@item.Abreviacion</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="d-flex justify-content-start gap-3">
                            <a class="btn btn-secondary mx-2" asp-controller="Docentes" asp-action="Index">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


