@model SIGES_INDEL.Models.Complementos.Grados
@{
    ViewData["Title"] = "Informacion Grado";
}
<form asp-action="Detalle">
    <div class="container py-4">
        <h3 class="text-center mb-4 fw-bold">Informacion del Grado @Model.Abreviacion</h3>
        <div class="card shadow border-2 border-info rounded-3 mb-4">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label asp-for="Grado" class="control-label"></label>
                                <input asp-for="Grado" class="form-control" disabled readonly/>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Anno" class="control-label"></label>
                                <input asp-for="Anno" class="form-control" disabled readonly />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Seccion" class="control-label"></label>
                                <input asp-for="Seccion" class="form-control" disabled readonly />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Abreviacion" class="control-label"></label>
                                <input asp-for="Abreviacion" class="form-control" disabled readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end">
            <a class="btn btn-secondary mx-2" asp-controller="Grados" asp-action="Index">Regresar</a>
        </div>
    </div>
</form>



