@model SIGES_INDEL.Models.Complementos.Grados
@{
    ViewData["Title"] = "Editar Grado";
}
<form asp-action="Editar">
    <div class="container py-4">
        <h3 class="text-center mb-4 fw-bold">Edita el Grado @Model.Abreviacion</h3>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label asp-for="Grado" class="control-label"></label>
                                <input asp-for="Grado" class="form-control" />
                                <span asp-validation-for="Grado" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Anno" class="control-label"></label>
                                <input asp-for="Anno" class="form-control" />
                                <span asp-validation-for="Anno" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Seccion" class="control-label"></label>
                                <input asp-for="Seccion" class="form-control" />
                                <span asp-validation-for="Seccion" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Abreviacion" class="control-label"></label>
                                <input asp-for="Abreviacion" class="form-control" />
                                <span asp-validation-for="Abreviacion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a class="btn btn-secondary me-2" asp-controller="Grados" asp-action="Index">Cancelar</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


