@{
    ViewData["Title"] = "AboutUs";
}

<div class="container my-5">
    <div class="text-center mb-4 fw-bold fs-2">Equipo de Desarrollo SIGES IDEL</div>

    <div class="row g-4 justify-content-center">
        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="min-height: 350px;">
                <div class="border border-info rounded text-center p-3 mb-3 fw-bold" style="min-height: 150px;">
                </div>
                <p class="fw-bold mb-2">Carlos Alexander Lopez Valencia</p>
                <p class="fw-bold mb-2">Desarrollador Back-End</p>
                <p class="fw-bold mb-0">🐬</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="min-height: 350px;">
                <div class="border border-info rounded text-center p-3 mb-3 fw-bold" style="min-height: 150px;">
                </div>
                <p class="fw-bold mb-2">Estefany Joheny Ramirez Rivera</p>
                <p class="fw-bold mb-2">Desarrolladora Front-End</p>
                <p class="fw-bold mb-0">🐬</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="min-height: 350px;">
                <div class="border border-info rounded text-center p-3 mb-3 fw-bold" style="min-height: 150px;">
                </div>
                <p class="fw-bold mb-2">Pablo Enrique Rivera Ramos</p>
                <p class="fw-bold mb-2">desarrollador Front-End</p>
                <p class="fw-bold mb-0">🐬</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="min-height: 350px;">
                <div class="border border-info rounded text-center p-3 mb-3 fw-bold" style="min-height: 150px;">
                </div>
                <p class="fw-bold mb-2">Hugo Ernesto Cortez Sandoval</p>
                <p class="fw-bold mb-2">Desarrollador Front-End</p>
                <p class="fw-bold mb-0">🐬</p>
            </div>
        </div>
    </div>

    <div class="row g-4 justify-content-center mt-2">
        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="min-height: 350px;">
                <div class="border border-info rounded text-center p-3 mb-3 fw-bold" style="min-height: 150px;">
                </div>
                <p class="fw-bold mb-2">Carlos Armando Renderos Jimenez</p>
                <p class="fw-bold mb-2">diseñador Grafico.</p>
                <p class="fw-bold mb-0">🐬</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="min-height: 350px;">
                <div class="border border-info rounded text-center p-3 mb-3 fw-bold" style="min-height: 150px;">
                </div>
                <p class="fw-bold mb-2">David Alexander Cartagena Alfaro</p>
                <p class="fw-bold mb-2">diseñador grafico.</p>
                <p class="fw-bold mb-0">🐬</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="min-height: 350px;">
                <div class="border border-info rounded text-center p-3 mb-3 fw-bold" style="min-height: 150px;">
                </div>
                <p class="fw-bold mb-2">Boris Adriel Loucel Lopez</p>
                <p class="fw-bold mb-2">diseñador grafico.</p>
                <p class="fw-bold mb-0">🐬</p>
            </div>
        </div>
    </div>
</div>