@{
    ViewData["Title"] = "AboutUs";
}

<div class="container my-2">
    <div class="text-center mb-4 fw-bold fs-2">Equipo de Desarrollo SIGES INDEL</div>

    <div class="row g-4 justify-content-center">
        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="height: 430px;">
                <div class="border border-info rounded text-center mb-3 fw-bold position-relative overflow-hidden" style="height: 250px;">
                    <img src="~/images/carlos.jpeg"
                         alt="Previsualización"
                         class="img-fluid w-100 h-100"
                         style="object-fit: cover; object-position: top; border-radius: inherit;" />
                </div>
                <p class="fw-bold mb-2">Carlos Alexander Lopez Valencia</p>
                <p class="fw-bold mb-2">Desarrollador Back-End</p>
                <p class="small">CarlosValencia31206@gmail.com</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="height: 430px;">
                <div class="border border-info rounded text-center mb-3 fw-bold position-relative overflow-hidden" style="height: 250px;">
                    <img src="~/images/joe.jpeg"
                         alt="Previsualización"
                         class="img-fluid w-100 h-100"
                         style="object-fit: cover; object-position: bottom; border-radius: inherit;" />
                </div>
                <p class="fw-bold mb-2">Estefany Joheny Ramirez Rivera</p>
                <p class="fw-bold mb-2">Desarrolladora Front-End</p>
                <p class="small">CarlosValencia31206@gmail.com</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="height: 430px;">
                <div class="border border-info rounded text-center mb-3 fw-bold position-relative overflow-hidden" style="height: 250px;">
                    <img src="~/images/pablito.jpeg"
                         alt="Previsualización"
                         class="img-fluid w-100 h-100"
                         style="object-fit: cover; object-position: top; border-radius: inherit;" />
                </div>
                <p class="fw-bold mb-2">Pablo Enrique Rivera Ramos</p>
                <p class="fw-bold mb-2">desarrollador Front-End</p>
                <p class="small">Pablitomix123@gmail.com</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="height: 430px;">
                <div class="border border-info rounded text-center mb-3 fw-bold position-relative overflow-hidden" style="height: 250px;">
                    <img src="~/images/hugo.jpeg"
                         alt="Previsualización"
                         class="img-fluid w-100 h-100"
                         style="object-fit: cover; object-position: center; border-radius: inherit;" />
                </div>
                <p class="fw-bold mb-2">Hugo Ernesto Cortez Sandoval</p>
                <p class="fw-bold mb-2">Desarrollador Front-End</p>
                <p class="small">hugopena193@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="row g-4 justify-content-center mt-2">
        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="height: 430px;">
                <div class="border border-info rounded text-center mb-3 fw-bold position-relative overflow-hidden" style="height: 250px;">
                    <img src="~/images/renderos.jpeg"
                         alt="Previsualización"
                         class="img-fluid w-100 h-100"
                         style="object-fit: cover; object-position: center; border-radius: inherit;" />
                </div>
                <p class="fw-bold mb-2">Carlos Armando Renderos Jimenez</p>
                <p class="fw-bold mb-2">diseñador Grafico.</p>
                <p class="small">carlos.renderos.cats2020@gmail.com</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="height: 430px;">
                <div class="border border-info rounded text-center mb-3 fw-bold position-relative overflow-hidden" style="height: 250px;">
                    <img src="~/images/davi.jpeg"
                         alt="Previsualización"
                         class="img-fluid w-100 h-100"
                         style="object-fit: cover; object-position: center; border-radius: inherit;" />
                </div>
                <p class="fw-bold mb-2">David Alexander Cartagena Alfaro</p>
                <p class="fw-bold mb-2">diseñador grafico.</p>
                <p class="small">davidalfaro24076@gmail.com</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow border-2 border-info rounded-3 p-3" style="height: 430px;">
                <div class="border border-info rounded text-center mb-3 fw-bold position-relative overflow-hidden" style="height: 250px;">
                    <img src="~/images/loucel.jpeg"
                         alt="Previsualización"
                         class="img-fluid w-100 h-100"
                         style="object-fit: cover; object-position: center; border-radius: inherit;" />
                </div>
                <p class="fw-bold mb-2">Boris Adriel Loucel Lopez</p>
                <p class="fw-bold mb-2">diseñador grafico.</p>
                <p class="small">borisloucelsv@gmail.com</p>
            </div>
        </div>
    </div>
</div>